body {
  color: #000000;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #FFFFFFFF;
}

.wrapper {

	
}

#main {
    margin-bottom: 30px;
    margin-top: 15px;
}

#items {}

#items .item {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #F6F6F6 0%, #EAEAEA 100%) repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 1px rgba(0, 0, 0, 0.1), 0 3px 1px rgba(0, 0, 0, 0.05);
    text-shadow: 0 1px 0 #DDDDDD;
    width: 270px;
    margin: 10px;
    float: left;
}

#items .item .item-content {
  padding: 10px;
}

#items .item .picture .description {
    margin-top: 10px;
}

#items .item .meta span {
    font-size: 12px !important;
    line-height: 16px !important;
    margin-right: 5px;
}

#items .item .picture {
    display: block;
    position: relative;
    z-index: 5;
    border-top: 1px solid #999999;
    border-radius: 4px 4px 4px 4px;
}

#items .item .picture a.image {
    display: block;
    height: auto;
    width: 100%;
}

#items .item .picture img {
    border-radius: 2px 2px 0px 0px;
    height: auto;
    position: relative;
    width: 100%;
    z-index: -1;
}

.picture img {
    height: auto;
    width: 100%;
}


.navbar-inner {
  box-shadow: 0px 5px 10px #999 !important;
}

/* ------------------------------------------------RESPONSIVE CSS------------------------------------------------ */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#main {
		margin-top: 5px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#items {
		width: 100%;
		margin-left: 0;
	}
	#items  .item {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	#items {
		width: 100%;
		margin-left: 0;
	}
	#items  .item {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

.item-name{
	font-family:'PT Sans', Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	font-weight:700
	
}
#items .item .picture .description{
	margin-top:0px;	
}
.item{
	border-radius:6px;
	background:white!important;
	
}
.item .meta{
	padding:10px 10px 15px 10px;
	border-top:#ddd 1px solid;
}
.navbar .nav{
	float:right;
}
img, video, embed, object, iframe{
	max-width:100%;
}
.meta-center{
	margin:0 auto;
	width:100px;
}
.meta a{
	text-decoration: none;
	cursor:default;
}
.meta-center a{			
	color:#72a33c;
	text-decoration: none;
	cursor:pointer;
}
.shortlink{
	display:block;
	position:relative;
	opacity:1;
	background:url(/images/link-ic.png) center center no-repeat;
	width:18px;
	height:8px;
	margin-top:3px;
	text-indent:-9999px;
	cursor:pointer!important;
}
.item-content .description ul,.item-content .description ul ul{
	padding-left:0px;
	list-style:none;
}
.text{
	color:#6f777d
}
.category-ic{
	background:url(/images/ic_collection.png) left no-repeat;
	padding-left:18px;
}
input#srch-term{
	max-width:100%;
	
	margin-top:0px;
}
.btn-login {
	padding-bottom: 5px!important;
	padding-top: 5px!important;
	margin-top: 10px!important;
	color: #FFF!important;
}
.btn-login:hover {
	color: #428bca!important;
	background: white;
}
.blog-item .media{
	padding-bottom:10px;
}
.media p{
	margin-bottom:20px;
}
.glyphicons-demo ul{
	width:150px;
}
.guest{
	color:#000!important;padding-bottom: 5px!important;	padding-top: 5px!important;	margin-top: 10px!important;
}


.glyphicons-demo ul li {
  height:80px;
  width: 50%;
  border:none;
  cursor: pointer;

}
.header-top-right .btn-group a{
	padding-bottom: 5px!important;
	padding-top: 5px!important;
	margin-top: 7px!important;
	
}
.open>a:focus{
	color:#555;
	background-color:#e7e7e7
}
.img-circle{
	width:30px;
}
.item-detail-title{
	
	text-decoration: none !important;

}

/*    Header   */

#header-top {
	background: #f5f5f5;
	border-top:4px solid #428bca;
	border-bottom: 1px solid #eee;
	font-size:14px;
}

.header-top-left {
	float:left;
}

.header-top-right {
	float:right;
	position:relative;
}

#top-links li {
	margin-right:20px;
	display:block;
	float:left;
}

#top-links li a {
	display:inline-block;
	color:#7f7d74;
	
	position: relative;	
	text-decoration:none;
	padding-top:15px;
	padding-bottom:15px;
}

#top-links li a:hover{
	color:#333;
}
#top-links{
	padding-left:0px;
	margin-bottom:0px;
}
/* end header*/


/**** Infinite Scroll ****/

#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 20px;
 
  left: 46%;
  z-index: 999999;
  background: white;
  background: hsla( 0, 0%, 100%, 0.9 );
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
 
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
		  
}
#infscr-loading img{
	width:32px;
	height:32px;
	
}


.blog-item{
	border:2px solid #f5f5f5
}
.blog-item .blog-item-img {
  margin: 6px 0 25px;
}
.blog-item .blog-item-img .carousel {
  margin-bottom: 0;
}
.blog-item blockquote {
  margin: 20px 40px 18px;
  border-color: #E84D1C;
}
.blog-item .blog-info {
	background-color:#428bca;
	margin: 20px 0;
	padding: 8px 0;
	border-top: solid 1px #ECEBEB;
	border-bottom: solid 1px #ECEBEB;
}
.blog-item .blog-info li {
  padding-left: 13px; 
  border-left: solid 1px #ECEBEB;
}
.blog-item .blog-info li:first-child {
  padding-left: 0; 
  border-left: none; 
}
.blog-item .blog-item-img .carousel-control {
  top: 45%;
}

.blog-item .media {
	border-bottom: solid 1px #ECEBEB;
	margin-bottom: -1px;
}
.blog-item .comments {
	border-top: solid 1px #ECEBEB;
	padding-top: 15px;
}
.blog-item img.media-object {
    top: 2px;
	width: 60px;
	height: 60px;
    position: relative;
}
.blog-item h4.media-heading {
    position: relative;
    padding-top: 0;
}
.blog-item h4.media-heading span {
    right: 0;
    top: 3px;
    color: #777;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
}
.blog-item h4.media-heading span a {
    color: #E84D1C;
}

.mix-block .tab-content .col-md-3 {
	padding-right: 0;
}
.mix-block .nav-tabs > li {
    margin-top: 1px;
}
.menu-category {
	display: inline-block;
	
	width:  100%; 
}
.menu-category-name{
	font-size:16px;
	cursor:pointer;
}
 .navbar-nav > li.dropdown-user .dropdown-toggle > img {
  margin-top: -2px;
  height: 20px;
}

/* Front Carousel */
.front-carousel .carousel-control {
  margin: 0;
  border: none;
  height: 35px;
  font-size: 24px;
  font-weight: normal;
  top: 40%;
  width: 35px;
  background: #222;
  opacity: 0.5;
}
.front-carousel .carousel-control:hover {
  opacity: 0.6;
}
.front-carousel .carousel-control i {
  font-size: 27px;
}
.front-carousel .carousel-control.right i {
  position: relative;
  left: 1px;
}
.front-carousel .carousel-caption {
  padding: 10px 15px 0;
  background: rgba(0,0,0,0.5);
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
}
.front-carousel .carousel-control.left {
  left: 0;
}
.front-carousel .carousel-control.right {
  right: 0;
}

/* Blog Page */
.blog-posts h2,
.ecommerce .blog-posts h2 {
  padding-top: 0;
}
.blog-posts p {
  text-align: justify;
}
.blog-posts .carousel {
  margin-bottom: 0;
}
.blog-posts hr.blog-post-sep {
  margin: 40px 0;
}
.blog-info {
  list-style: none;
  margin: 15px 0 12px 0;
  padding-left:0;
}
.blog-info li {
  padding: 0;
  color: #FFF;
  font-size: 13px;
  margin-right: 10px; 
  display: inline-block; 
}
.blog-info li i {
  color: #FFF;
}

.blog-posts .pagination li {
	margin-left: -12px;
	margin-right: 17px;
}

.blog-posts .more,
.blog-sidebar .more {
	color: #E84D1C;
}



