RewriteEngine On

Options +FollowSymLinks

RewriteRule favicon.ico$ favicon.ico [QSA,L]
RewriteRule sitemap.xml$ sitemap.xml [QSA,L]
RewriteRule sitemap.xsl$ sitemap.xsl [QSA,L]
RewriteRule comming-soon.html$ comming-soon.html [QSA,L]
RewriteRule under-construction.html$ under-construction.html [QSA,L]
RewriteRule robots.txt$ robots.txt [QSA,L]
RewriteRule google197e64adcc9b11de.html$ google197e64adcc9b11de.html [QSA,L]
RewriteRule !(statics|upload) index.php [QSA,L]
<FilesMatch "\.(ttf|ttc|otf|eot|woff)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>

